<h1>Pages#nosotros</h1>
<ul>
  <li><%= link_to "Inicio", pages_inicio_path %></li>
  <li><%= link_to "Nosotros", pages_nosotros_path %></li>
  <li><%= link_to "Proyectos", pages_proyectos_path %></li>
  <li><%= link_to "Contacto", pages_contacto_path %></li>
  <li><%= link_to "Intranet", pages_intranet_path %></li>
</ul>
<hr>