<h1>Main Dashboard</h1>
<%= link_to "Create New Project", new_project_path %>
<hr>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Client</th>
      <th>Description</th>
      <th>Revenue</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
</thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project_path(project) %></td>
        <td><%= project.client %></td>
        <td><%= project.description %></td>
        <td><%= project.revenue %></td>
        <td><%= project.end_date %></td>
        <td><%= link_to project.status.capitalize, toggle_status_project_path(project) %></td>
        <td><%= link_to "E", edit_project_path(project) %></td>
        <td><%= link_to "D", project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <hr>
<div>
  <h3>Concepts</h3>
  <% @concepts.each do |concept| %>
  <h4><b><%= concept.subject %></b></h4>
  <p>Category: <%= concept.category %></p>
  <p>Subcategory: <%= concept.subcategory %></p>
  <p>Description: <%= concept.description %></p>
  <p>Amount: <%= concept.amount %></p>
  <% end %>
</div> -->